.section {
  max-width: 580px;
  max-height: 626px;
  margin-top: 100px;
}

.boardContainer {
  display: flex;
  flex-direction: row;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 256px;
  min-width: 272px;
  column-gap: 10px;
  overflow: hidden;
}

.listItem {
  color: rgba(0, 204, 204, 1);
}

.numberOrder {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
